<!DOCTYPE html>
<html data-ng-app="DemoApp">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<!-- Angulars Material CSS using RawGit to load directly from `bower-material/master` -->
	<link rel="stylesheet" href="https://rawgit.com/angular/bower-material/master/angular-material.css">

	<!-- Angular Material Dependencies -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular-animate.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular-aria.js"></script>

	<!-- Angular Material Javascript using RawGit to load directly from `bower-material/master` -->
	<script src="https://rawgit.com/angular/bower-material/master/angular-material.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/60204/toaster.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/angular-toastr/dist/angular-toastr.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<toaster-container toaster-options="{'time-out': 3000}"></toaster-container>
	<script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
	<script src="../../../firebase_config.js"></script>
	<script src="../../../js/angular/question.js"></script>

	<title>Export All Datas</title>
</head>

<body data-ng-controller="MainCtrl" ng-init="initExportAll()">
	<nav class="navbar navbar-inverse" id="nav">
		<div class="container-fluid">
			<ul class="nav navbar-nav navbar-right" style="cursor:pointer">
				<li>
					<a href="../../../index.html">
						<span class="glyphicon glyphicon-log-out"></span> Sign Out
					</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right" style="cursor:pointer">
				<li>
					<a href="javascript:history.back()">
						<span class="glyphicon glyphicon-chevron-left"></span> Back
					</a>
				</li>
			</ul>
		</div>
	</nav>
	<div ng-hide="loadingfinished">
		<div class="loader"></div>
	</div>
	<div ng-show="loadingfinished && noAnswerMessage" class="no-data">
		{{noAnswerMessage}}
	</div>
	<div class="main" ng-show="loadingfinished && !noAnswerMessage">
		<button class="btn btn-link" ng-click="exportToExcel('#table-1')">
			<span class="glyphicon glyphicon-share"></span> Export to Excel
		</button>
		<table class="table table-bordered datatable" id="table-1">
			<thead>
				<tr>
					<th rowspan="2" style="text-align:center;vertical-align:middle">User</th>
					<th rowspan="2" style="text-align:center;vertical-align:middle">Gender</th>
					<th rowspan="2" style="text-align:center;vertical-align:middle">Age</th>
					<th rowspan="2" style="text-align:center;vertical-align:middle">Profession</th>
					<th rowspan="2" style="text-align:center;vertical-align:middle">Mother tongue</th>
					<th rowspan="2" style="text-align:center;vertical-align:middle">Group code</th>
					<th rowspan="2" style="text-align:center;vertical-align:middle">Question</th>
					<th rowspan="2" style="text-align:center;vertical-align:middle">Answer</th>
					<th rowspan="2" style="text-align:center;vertical-align:middle">Date/Time</th>
					<th class="detachingfield" colspan="{{feedtextlimit}}" ng-if="!hidefeedfield" style="text-align:center">Feedback</th>
					<th class="detachingfield" rowspan="2" ng-if="!hidefeedfield" style="text-align:center;vertical-align:middle">Score</th>
				</tr>
				<tr>
					<th style="text-align:center" ng-if="!hidefeedfield" ng-repeat="feed in thcols track by $index">Feedback-{{$index+1}}</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="obj in answers track by $index">
					<td style="text-align:center;">{{obj.mail}}</td>
					<td style="text-align:center;">{{obj.Gender}}</td>
					<td style="text-align:center;">{{obj.Age}}</td>
					<td style="text-align:center">{{obj.Profession}}</td>
					<td style="text-align:center">{{obj.Mothertongue}}</td>
					<td style="text-align:center">{{obj.Groupcode}}</td>
					<td style="text-align:center; width:400px;">{{obj.question}}</td>
					<td style="text-align:center; width:400px;">{{obj.answer}}</td>
					<td style="text-align:center">{{obj.datetime}}</td>
					<td style="text-align:center" class="detachingfield" ng-if="!hidefeedfield" ng-repeat="feed in thcols track by $index">{{obj.feedtxt[$index]}}</td>
					<td style="text-align:center" class="detachingfield" ng-if="!hidefeedfield">{{obj.averagescore}}</td>

				</tr>
			</tbody>
		</table>
	</div>

</body>
<style>
	#nav {
		position: relative;
	}

	.main {
		position: relative;
		margin-top: 3%;
		margin-left: 5%;
		width: 90%;
		max-width: 1650px;


	}

	.no-data {
		margin: 100px auto;
		width: 500px;
		text-align: center;
		font-size: 3em;
		color: #fd6167;
		font-style: italic;
		font-weight: bold;
	}

	.loader {
		position: absolute;
		border: 16px solid #f3f3f3;
		border-radius: 50%;
		border-top: 16px solid #3498db;
		width: 120px;
		height: 120px;
		-webkit-animation: spin 2s linear infinite;
		/* Safari */
		animation: spin 2s linear infinite;
		margin-left: 50%;
		margin-top: 20%;
	}

	/* Safari */

	@-webkit-keyframes spin {
		0% {
			-webkit-transform: rotate(0deg);
		}
		100% {
			-webkit-transform: rotate(360deg);
		}
	}

	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
</style>

</html>